<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>about</key>
        <string>یکی از بهترین شیوه های تفسیر، یافتن معانی درست قانون در سایر اعلام های قانونگذار و دانستن معنی هر حکم با
            توجه به موقعیت و وضع آن در میان سایر احکام همانند است. شناسایی و جمع آوری اندیشه های بزرگان جهت احاطه به یک
            موضوع بسیار با اهمیت بوده لیکن در شیوه سنتی، زمان بر و دشوار است. طراحی این سامانه بر مبنای روش آقای دکتر
            ناصر کاتوزیان «کتاب قانون مدنی در نظم حقوقی کنونی» بوده و بگونه ای می باشد که با افزودن کتاب جدید به
            کتابخانه، شبکه ارتباطی چند جانبه ای بین تک تک موضوعات کتاب با سایر موضوعات در کتب دیگر، بصورت خودکار و
            هوشمند ایجاد می شود و کاربر می تواند با یک اشاره، تمامی مطالب و احکام یک موضوع را بدون نیاز به جستجو، در یک
            صفحه مشاهده نماید. استادان، دادرسان، وکلا و دانشجویان می توانند با بکارگیری این سامانه به مجموعه ای با چندین
            هزار فرع و اصل مستند رجوع کرده و به حقوق زنده دست یابند. ارزش معنوی این اثر تقدیم می گردد به پدر شهیدم حاج
            محمد حسین عرب نژاد که همواره نگاهی سیستمی و قانونمند در جهت تسهیل و تسریع رفع مشکلات ناشی از جنگ و جهاد
            داشته است.

            یاسر عرب نژاد
        </string>
        <key>tozihat</key>
        <string>توضیحات :</string>
        <key>ray</key>
        <string>رای</string>
        <key>type5</key>
        <string>موضوع :</string>
        <key>type4</key>
        <string>دادنامه شماره</string>
        <key>ray_shomare</key>
        <string>رای شماره</string>
        <key>nazarie_shomare</key>
        <string>نظریه ی شماره</string>
        <key>url</key>
        <string>http://book.hamedkarimi.ir</string>
        <key>loading</key>
        <string>در حال بارگذاری...</string>
        <key>connection_error</key>
        <string>مشکل در اتصال به اینترنت ...</string>
        <key>New item</key>
        <string></string>
        <key>price_title</key>
        <string>تومان</string>
    </dict>
</plist>
